<div class="row">
    <div class="col-sm-12">
        <form>
            <div class="form-row my-row">
                <div class="form-group col-md-3">
                    <label for="ingredB">Ingredient Brand</label>
                    <input type="text" class="form-control" id="ingredB" placeholder="Enter Ingredient Brand" #ingredBrand>
                </div>
                <div class="form-group col-md-3">
                    <label for="ingredN">Ingredient Name</label>
                    <input type="text" class="form-control" id="ingredN" placeholder="Enter Ingredient Name" #ingredName>
                </div>
                <div class="form-group col-md-3">
                    <label for="ingredQ">Ingredient Quantity</label>
                    <input type="text" class="form-control" id="ingredQ" placeholder="Enter Ingredient Quantity" #ingredQuantity>
                </div>
                <div class="col-md-3">
                    <button type="button" class="btn btn-primary btn-sm btn-block" (click)="addNewIngredient()">Add</button>
                </div>
            </div>
        </form>
    </div>
</div>